/* GLOBAL */

body {
    font-family: Arial, sans-serif;
}

/* HEADER */

ul {
    list-style-type: none;
  }

#topNav {
    position: fixed;
    top: 0;
    display: inline-block;
}

#searchBar {
    border-radius: 1.5rem;
    width: 600px;
    height: 40px;
}
