/* GLOBAL */

* {
    padding: 0;
    margin: 0;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* HEADER */

header {
    height: 125px;
    width: 100%;
    min-width: 1000px;
    border: 1px solid #dddddd;
    /* border: 1px solid red; to see header container */

}

.topNav {
    display: block;
    height: 64px;
    width: 100%;
    margin-top: 20px;
    /* border: 1px solid green; to see search container */
}

.topNav a {
    color: white;
}

header form {
    display: inline;
    margin-left: 20px;
}

header .header-right {
    float: right;
    margin-top: 10px;
    margin-right: 25px;
}

.searchBar {
    border: 1px solid lightgray;
    border-radius: 1.7rem;
    width: 630px;
    height: 45px;
}

nav {
    position: relative;
}

nav ul {
    margin-left: 150px;
    height: 30px;
    width: 625px;
    margin-top: 10px;
    /* border: 1px solid purple; to see nav container */
}

nav a {
    color: grey;
    text-decoration: none;
    padding: 12px;
}

.navigation-left {
    display: inline;
}

.navigation-right {
    float: right;
}

/* ICONS */

.logo {
    width: auto;
    vertical-align: middle;
    margin-left: 30px; 
}

.google-mic {
    width: 15px;
    margin-right: 20px;
}

.google-magnify {
    width: 17px;
}

.google-mic, .google-magnify {
    position: relative;
    right: 80px;
    vertical-align: middle;
}

.google-apps {
    width: 25px;
    vertical-align: middle;
}
